In [9]:
import numpy as np
import pandas as pd

df = pd.DataFrame(

# data 가 아래와 같이 생겼다고 가정할때, pandas 의  factorize 를 사용하여 쉽게 변환 가능
data = 
{
'gender': [1,2,1,2,1,1,2,2,1],
'class': ['r','b','g','y','r','b','r','b','y']
}
)

# object 를 카테고리 변수나 순차적인 변수로 변경
# pancas.factorize(values, sort=False, na_sentinel = -1, size_hint=non)
'''
입력 변수 설명
values : 1차원 시퀀스
sort: True, False 로 설정가능하며, 그 object 사이의 관계성 유지를 위해 조절 가능
na_sentinel: None 일경우 NaN 값 포함하여 인코딩, -1 일경우 제외하고 인코딩 (변수화)
size_hint : hashtable sizer 에 힌트 주는 값
출력변수 설명
codes : 변환된 값을 제공
uniques : 그 값의 유니크 값을 제공
'''

In [20]:
# 결과물은 .factorize()]0] 을 통해 변환된 값을 꺼내올 수 있음
df['class'].factorize()

(array([0, 1, 2, 3, 0, 1, 0, 1, 3]),
 Index(['r', 'b', 'g', 'y'], dtype='object'))

In [21]:
# sort=True 일 경우 결과값은 class 의 알파벳 순서대로 등장
df['class'].factorize(sort=True)

(array([2, 0, 1, 3, 2, 0, 2, 0, 3]),
 Index(['b', 'g', 'r', 'y'], dtype='object'))